@import './vendors/bootstrap.scss';

@import './abstracts/mixins';
@import './abstracts/variables';
@import './abstracts/helpers';

@import './base/base';
@import './base/typography';

@import './components/buttons';

@import './layout/footer';
@import './layout/sections';

@import './sections/about';
@import './sections/contact';
@import './sections/hero';
@import './sections/projects';

ul{
  margin: 0 0 40px ;
  li{
    font-size: 15px;
    line-height: 25px;
  }

}
